@import '../node_modules/bulma/css/bulma.min.css';
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

h4 {
    padding: 0px;
    margin: 0px;
    margin-bottom: 1vh;
    font-size: 20px;
}

h5 {
    margin-bottom: 1vh;
}

nav ul li {
    background-color:rgba(255,255,255,0.5) !important;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

nav ul li:hover {
    transform: scale(1.025);
}

.menu-list li {
    cursor: pointer;
}

select {
    appearance: auto !important;
  }

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.myFpv-close {
    position: absolute;
    top: 1vh;
    right: 1vw;
    cursor: pointer;
}

.myFpv-entities-window-group {
    margin: 1vw 0px;
    padding: 0.5vw;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0.15);
}

.myFpv-entities-window-group .fixed-grid {
    margin: 0px;
    padding: 0px;
}

.myFpv-entities_all-textures-block {
    display: inline-block;
    width: 22.5%;
    margin: 1.5px;
    margin-bottom: 0px;
}

.myFpv-entities_all-textures-block img {
    width: 100%;
}